body {
	background: #EDF5EB;
	font-family: arial;
	font-size: 20;
	color: #40494D;
	margin: 0;

}

head {
	font-family: arial;
}


h1{
	color: black;
}

a {
	color:green;
}

li {
	color:#555;
}

body {
	margin: 0;
}
header {
	background: #A1D490;
	color: white;
	padding:33px 15px ;
}


nav ul {
	margin:0;
	display: inline;
}

nav ul li {
	color:white;
	list-style-type: none;
	display: inline-block;
	background: black;
	padding:5px 10px;
	float: left;
	font-size: 25;
}

nav ul li a {
	color:white;
}


footer {
	font-variant: timesnewroman;
	color: White;
	background: #90C3D4;
}