body {
	background: #EDF5EB;
	font-family: arial;
	font-size: 20;
	color: #40494D;
	margin: 0;

}

h1{
	color: black;
}

a {
	color:green;
}

li {
	color:#000555;
}

div	{
	width: 70%;
	margin: 5px auto;
}

header {
	background: #A1D490;
	font-color: white;
	padding:33px 15px ;
}


nav ul {
	margin: 0;
	display: inline;
}

nav ul li {
	color: white;
	list-style-type: none;
	display: inline-block;
	background: black;
	padding: 5px 10px;
	float: left;
	font-size: 25;
}

nav ul li a {
	color: white;
}


footer {
	color: White;
	background: #90C3D4;
}