body {
	background: #EDF5EB;
	font-family: arial;
	font-size: 20;
	color: #40494D;
	margin: 0;

}

h1{
	color: black;
	font-size: 4rem;
}

a {
	color:green;
}

li {
	color:#000555;
}

div	{
	width: 70%;
	margin: 5px auto;
}

div .post {
	width: 95%;
	background-color: #DAE0E0;
	color: black;
	text-align: center;
	padding: 3px;
}

.post img {
	width: 95%;
	left: 50%;
}

header {
	background: #26A3F0;
	font-color: white;
	padding:33px 16px ;
	max-height: 15rem; 
}

header :hover {
	color: white;
}

header h1{
	font-size: 8rem;
	text-align: center;
}

nav ul {
	margin: 0;
	display: inline;
}

nav ul li {
	color: white;
	list-style-type: none;
	display: inline-block;
	background: black;
	padding: 3px 3px;
	float: left;
}

nav ul li a {
	color: white;
}


footer {
	color: White;
	background: #90C3D4;
}